.bg-purple {
  background-color: rgb(0, 0, 0);
}

.cards {
  display: flex;

  margin: 0 5px;
  align-items: center;
  height: 35rem;
}
.card {
  margin: 0 15px;
}


.card-img-top1{
    height: 305px;
    width: 286px;
}
