* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(0, 0, 33);
  color: white;
  font-family: "Poppins", sans-serif;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  border-radius: 12px;
  background: linear-gradient(135deg, #f57308, #fff, rgb(11, 242, 7));
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(135deg, #1a6ad2, #fff, rgb(245, 5, 53));
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  height: 70px;

  background-color: rgb(18, 18, 62);
}

@media only screen and (max-width: 480px) {
  nav {
    align-items: center;
    justify-content: space-between;
    height: 30px;
  }
}

nav ul {
  display: flex;
  justify-content: center;
}
nav li {
  list-style: none;
  margin: 0 23px;
}
nav li a {
  text-decoration: none;
  color: white;
}
nav li a:hover {
  color: rgb(170, 107, 228);
  font-size: 1.04rem;
}

main hr {
  border: 0;
  background: rebeccapurple;
  height: 1.2px;
  margin: 60px 80px;
}

.left {
  font-size: 1.2rem;
}

.firstSection {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 120px 0;
}

.firstSection > div {
  width: 29%;
}

.secondSection {
  max-width: 80vw;
  margin: auto;
  height: 85vh;
}

.leftSection {
  font-size: 2rem;
}

.leftSection .button {
  padding: 35px 0px;
}

.leftSection .btn {
  padding: 9px;
  background-color: #1e2167;
  border: 2px solid white;
  border-radius: 6px;
  font-size: 20px;
  cursor: pointer;
  color: white;
}

.leftSection .btn:hover {
  background-color: #383cb8;
}

.rightSection img {
  width: 85%;
}
.purple {
  color: rgb(170, 107, 228);
  font-weight: 500;
}
.text-gray {
  color: gray;
}

#element {
  color: rgb(170, 107, 228);
}
.secondSection .box {
  background: white;
  width: 78vw;
  height: 2px;
  margin: 100px 0;
  display: flex;
}

.secondSection .vartical {
  background-color: white;
  height: 93px;
  width: 1px;
  margin: 0px 6vw;
}
.secondSection .image-top {
  width: 30px;
  position: relative;
  top: -40px;
  left: -10px;
}

.vertical-title {
  position: relative;
  top: 70px;
  width: 150px;
}

.vertical-desc {
  position: relative;
  top: 78px;
  color: gray;
  width: 150px;
  font-size: 10px;
}

footer {
  background-color: #0e0e1a;
}

.footer {
  display: flex;
  padding: 23px 122px;
  justify-content: space-evenly;
}

.footer > div {
  width: 222px;
}
.footer ul {
  list-style: none;
}
.footer li a {
  text-decoration: none;
  color: white;
}
.footer-badges {
  display: flex;
  justify-content: space-around;
  font-size: x-large;
}
.btn a {
  text-decoration: none;
  color: white;
}

footer li a:hover {
  color: rgb(170, 107, 228);
}

footer .footer-rights {
  color: gray;
  text-align: center;
  margin: 0px 10px 0px 0px;
  padding-bottom: 15px;
}

.box {
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

.bounce-1 {
  animation-name: bounce-1;
  animation-timing-function: linear;
}

@keyframes bounce-1 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-40px);
  }
  100% {
    transform: translateY(0);
  }
}

@media screen and (max-width: 481px) {
  nav{
height: 94px;
  }
  footer{
    width: 66vh;
  }
  nav li {
    margin: 0 4px 4px 15px;
  }

}


@media screen and (max-width: 400px) {


  

  footer {
    width: 61vh;
  }
  nav {
    height: 84px;
  }
  nav li {
    margin: 0 10px;
  }
  .footer-badges {
    flex-direction: column;
    align-items: center;
  }
  .footer-first h3{
    font-size: 15px;
  }
}

@media screen and (max-width: 1000px) {
  body {
    min-width: fit-content;
  }

  nav {
    flex-direction: column;
  }

  nav li {
    margin: 0 17px;
  }
  .leftSection {
    width: 100% !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .rightSection {
    display: flex;
    justify-content: center;
    width: 421px !important;
  }
  .rightSection img {
    width: 45vw;
    margin-bottom: 73px;
  }
  .firstSection {
    flex-direction: column-reverse;
  }
  .secondSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 210vh;
  }
  .secondSection .image-top {
    top: 107px;
    left: 10px;
  }

  .box {
    flex-direction: column;
  }
  .secondSection .vartical {
    height: unset;
  }
  .secondSection .box {
    width: 50vw;
  }
  .vertical-title {
    left: 50px;
  }
  .vertical-desc {
    left: 50px;
  }
  footer {
    width: 110vh;
  }
  .footer {
    padding: 23px 10px;
  }
}

@media screen and (max-width: 600px) {
  footer {
    width: 75vh;
  }
  .footer-badges {
    flex-direction: column;
    align-items: center;
  }
  .footer-first h3{
    font-size: 18px;
  }
}



@media screen and (max-width: 417px) {
  footer {
    width: 45vh;
  }
  main {
    width: 44vh;
  }
  .firstSection {
    margin: 80px 70px;
}
.leftSection {
  font-size: 1.5rem;
  align-items: baseline;
}
.rightSection {
  width: 394px !important;
}
.rightSection img {
  width: 70vw;
  margin-left: 7vw;
}
.leftSection .btn {
  padding: 8px;
  font-size: 10px;
}

.secondSection {
  height: 182vh;
}

.secondSection .box{
  width: 32vh;
  margin:70px 0px 0px 14px;
}

.vertical-title {
  left: 60px;
  top: 18px
}
.vertical-desc{
  left: 60px;
  top: 19px
}

.secondSection .image-top {
  top: 52px;
  left: 16px;
}


footer{
  width: 45vh;
}
  nav {
    height: 50px;
  }
  nav li {
    margin: 0 4px 4px 8px;
  }
  .footer-badges {
    flex-direction: column;
    align-items: center;
  }
  .footer-first h3{
    font-size: 13px;
  }
  .footer li a {
    font-size: 15px;
  }
}




@media screen and (max-width: 376px) {

  nav li {
    margin: 0 4px 4px 4px;
  }
  .secondSection {
    height: 200vh;
  }
  footer{
    width: 56vh;
  }
  

}