* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(0, 0, 33);
  color: white;
  font-family: "Poppins", sans-serif;
}


::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
border-radius: 12px;
background: linear-gradient(135deg, #f57308, #fff, rgb(11, 242, 7));
}

::-webkit-scrollbar-thumb:hover {
background: linear-gradient(135deg, #1a6ad2, #fff, rgb(245, 5, 53));
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  height: 70px;

  background-color: rgb(18, 18, 62);
}

@media only screen and (max-width: 480px) {
  nav{
    align-items:center;
    justify-content: space-between;
    height: 30px;
  }
}

nav ul {
  display: flex;
  justify-content: center;
}
nav li {
  list-style: none;
  margin: 0 23px;
}
nav li a {
  text-decoration: none;
  color: white;
}
nav li a:hover {
  color: rgb(170, 107, 228);
  font-size: 1.04rem;
}

main hr {
  border: 0;
  background: rebeccapurple;
  height: 1.2px;
  margin: 60px 80px;
}

.left {
  font-size: 1.2rem;
}

.firstSection {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 130px 0;
}

.firstSection > div {
  width: 30%;
}

.secondSection {
  max-width: 80vw;
  margin: auto;
  height: 80vh;
}

.leftSection {
  font-size: 2.6rem;
}

.leftSection .button {
  padding: 35px 0px;
}

.leftSection .btn {
  padding: 12px;
  background-color: #1e2167;
  border: 2px solid white;
  border-radius: 6px;
  font-size: 20px;
  cursor: pointer;
  color: white;
}

.leftSection .btn:hover {
  background-color: #383cb8;
}

.rightSection img {
  width: 80%;
}
.purple {
  color: rgb(170, 107, 228);
  font-weight: 500;
}
.text-gray {
  color: gray;
}

#element {
  color: rgb(170, 107, 228);
}
.secondSection .box {
  background: white;
  width: 78vw;
  height: 2px;
  margin: 56px 0;
  display: flex;
}

.secondSection .vartical {
  background-color: white;
  height: 93px;
  width: 1px;
  margin: 0px 130px;
}
.secondSection .image-top {
  width: 30px;
  position: relative;
  top: -40px;
  left: -10px;
}

.vertical-title {
  position: relative;
  top: 70px;
  width: 150px;
}

.vertical-desc {
  position: relative;
  top: 78px;
  color: gray;
  width: 150px;
  font-size: 10px;
}

footer {
  background-color: #0e0e1a;
}

.footer {
  display: flex;
  padding: 23px 122px;
  justify-content: space-evenly;
}

.footer > div {
  width: 222px;
}
.footer ul {
  list-style: none;
}
.footer li a {
  text-decoration: none;
  color: white;
}
.btn a {
  text-decoration: none;
  color: white;
}

footer li a:hover {
  color: rgb(170, 107, 228);
}

footer .footer-rights {
  color: gray;
  text-align: center;
  margin: 0px 10px 0px 0px;
  padding-bottom: 15px;
}
